body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 10px;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 300px;
}

.nav {
    color: #565959;
}

.container {
    padding-right: 30px;
}

.meta-data {
    padding-top: 3px;
}

.ratings {
    width: 150px
}

.author a {
    color: #007185; 
}